h1 {
  color: red;
  font-size: 30px;
  background-color: #f3f372;
  height:80px;
  width:200px;
}
p {
  color : #0000ff#;
  font-size: 30px;
  background-color: #f3f372;
  height:80px;
  width:200px;
}
img {
  height:50px;
  width:70px;
}
ii {
 list-style: none;
 float: left;
 padding: gatau brp tadi px dan.. px
}
header-logo {
 float: left;
 front-size: 36px;
}
