h1 {
  color:red;
  font-size:30px;
  background-color:#f3f372;
  height:80px;
  width:200px;
  font-family:serif;
}
p {
  color:green;
  font-size:20px;
  height:50px;
  width:100px;
}
img {
  height:150px;
  width:200px;
}
li {
 float: left;
 padding:20px
}
header-logo {
 float: left;
 front-size: 10px;
}
.selected {
  color:red;
}
.footer {
  color:#fff;
  background-color:#2f5167;
  height:120px;
  padding:48px;
}
.footer-logo {
  front-size:32px;
  float:left;
}
.footer-list {
  float:right;
}
.footer-list li {
  pdding-bottom:20px
}
.main {
  padding: 100px 80px;
}
.copy-container h2 {
  font-size: 60 px;
}
.copy-container span {
  color: #ff4a4a;
}
